    <link rel="stylesheet" href="../Components/header/header.css">
    <div id="brand">
      <a href="/" style="display: flex;text-decoration: none;">
        <img id="brand-logo" srcset="assets/fddLogo-2x.webp 2X" src="assets/fddLogo-1x.webp" width="48" height="48" alt="brand">

        <div>
          <h1 id="brand-name" class="text-warning">Fuller Design & <br>Development</h1>
        </div>
      </a>
    </div>
    <nav class="nav">
      <a href="/about/">About</a>
      <a href="/services/">Services</a>
      <a href="/portfolio/">Portfolio</a>
    </nav>

    <button class="menu-btn" aria-label="Menu">
      <span class="menu-icon"></span>
    </button>
