.modal-h1 {
  color: var(--warning);
}

/* Styles for the modal */
.modal {
  display: none;
  padding-top: 6rem;
  padding-bottom: 11rem;
  padding-inline: 2rem;

}

.modal-body {
  overflow: auto;
  z-index: -1;
}
