#top-block {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;

  & img {
    max-width: 36px;
    height: auto;
    aspect-ratio: 1/1;
    cursor: pointer;
  }

  & #forward-nav {
    transform: rotate(180deg);
  }
}

.follows {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.follow {
  display: flex;
  flex-direction: column;
}

.follow .stats {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.follows .labels {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

.follows button {
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  width: 10rem;
  border: none;
  background: hsla(265, 100%, 47%, 1);
}

.content {
  padding-top: 1rem;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.socials-div {
  display: flex;
  align-items: center;
  gap: 16px;

  & img {
    height: 22px;
  }
}

.link-div {
  display: flex;
  gap: .25rem;
}

.link {
  font-size: 12px;
  gap: 8px;
}

.post-btns {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  gap: 10px;
  background: #FAFAFA;
}

.post-btns button {
  flex: 1;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: -0.02em;
  text-align: left;
}

#posts {
  background: #6200EE;
  text-align: center;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 10px 0px #DBC2FF99;
}

#my-closet {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #5c5c62;
  background-color: transparent;
}

.seller-profile {
  padding-top: 3.5rem;
  display: flex;
  gap: .5rem;

  & img {
    border-radius: 50%;
  }
}

.seller-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.seller-name {
  font-weight: 700;
  line-height: 18px;
}

.seller-username {
  color: #000005;
  font-weight: 400;
  line-height: 18px;
}

.follow-menu-div {
  display: flex;
  gap: 10px;
  align-items: center;
}

.follow-btn {
  background: #6200EE;
  color: #fff;
  font-weight: 600;
  line-height: 18px;
  padding-block: 8px;
  padding-inline: 16px;
  border-radius: 4px;
  border: none;
}


.grid-3X4 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(114px, 1fr));
  grid-gap: 4px;
  column-gap: 4px;
  align-items: center;
  justify-content: center;
}

.grid-3X4 img {
  width: 100%;
  object-fit: cover;
}