/***** CSS Reset *****/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  vertical-align: baseline;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}




* {
  box-sizing: border-box;
}

/***** End CSS Reset *****/

img {
  max-width: 100%;
  display: block;
  border-radius: .25rem;
}

:root {
  --background-color: #000000;
  --color: whitesmoke;
  --green: #006155;
  --cream: #dcd0b6;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li a {
  text-decoration: none;
  font-weight: 600;
}

.menu-toggle {
  display: none;
}

#p3-articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  background-color: var(--green);
  color: var(--cream);


  .article-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;

    .article-card {
      flex: 1;
      min-width: 15rem;
      max-width: 20rem;
      background-color: rgb(193, 193, 193);
      color: black;
      border-radius: .25rem;

      .article-header {
        padding: .25rem;

        & h3 {
          color: var(--green);
        }
      }
    }

    & img {
      border-radius: 0;
      object-fit: cover;
      width: 100%;
      height: auto;
      aspect-ratio: 16/9;
    }

    .content {
      padding: .5rem;
      color: var(--green);
    }
  }
}

#p4-breeds-spotlight {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: .5rem;
  gap: 2rem;
  background-color: #dcd0b6;
  color: #0e3d23;

  #breeds-spotlight-intro {
    & p {
      max-width: 44ch;
    }

    #breeds-img-1 {
      & img {
        width: 100%;
        height: auto;
        aspect-ratio: 1/1.4;
      }

    }
  }

  #advert {

    border: 5px solid;
    border-radius: .25rem;
    padding: 2rem;

    & h2 {
      text-align: center;
    }

    & p {
      text-align: center;
      text-wrap: balance;
      padding-block: 1rem;
    }
  }

  #breeds-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .breeds-card {
      max-width: 22rem;

      .breeds-img {
        position: relative;

        & img {
          width: 100%;
          height: auto;
        }

        & span {
          position: absolute;
          top: .5rem;
          left: 0;
          padding-inline: .5rem;
          padding-block: .25rem;
          border-radius: 0 .25rem .25rem 0;
          background-color: rgba(0, 0, 0, 50%);
          color: white;
          font-weight: bold;
        }
      }
    }
  }
}

#p5-safety-check {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: #006155;
  color: #dcd0b6;
  padding-inline: .5rem;

  #safety-tips-intro {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    p {
      max-width: 75ch;
    }
  }

  #safety-tips {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    .safety-tip-card {
      max-width: 32rem;

      & h3 {
        padding-bottom: .25rem;
      }

      .safety-tip {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 1rem;

        .tip-img {
          flex: 1;

          & img {
            width: 100%;
            height: auto;
            border-radius: .25rem 0 0 .25rem;
            aspect-ratio: 1/1;
            object-position: center;
          }
        }

        .tip-content {
          flex: 2;

          p {
            text-wrap: balance;
          }
        }
      }
    }
  }
}

#page-6-conclusion {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border: 1px solid whitesmoke;
  text-wrap: balance;
  background-color: black;
  color: whitesmoke;

}

.disclaimer {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  /* Adjust the width as needed */
  max-width: 500px;
  /* Limit the maximum width if desired */
  padding: 20px;
  background-color: var(--white);
  color: black;
  overflow-y: scroll;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;

  /* Apply transition for opacity and visibility */
  & button {
    border-radius: .25rem;
    background-color: var(--blue);
    color: var(--white);
    border: none;
    padding: 2rem;
    cursor: pointer;
  }

  & button:hover {
    background-color: #0056b3;
  }
}



.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  color: #fff;
  padding: 10px;

}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}





#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

}

#title {
  display: flex;
  flex-direction: column;

}


@media (max-width: 768px) {
  nav {
    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 3.6rem;
      left: 0;
      width: 100%;
      z-index: 999;
      background-color: black;
      padding: 10px;
      text-align: center;
    }

    .nav-links li {
      margin: 10px 0;
      color: var(--blue);
    }

    .menu-toggle {
      display: block;
      font-weight: 700;
      color: var(--blue);
      cursor: pointer;

    }

    .active {
      display: flex;
      color: var(--blue);
    }
  }
}