.card-small {
  outline: 3px solid red;
  width: 11.25rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: .5rem;
}

.card-small-img-wrapper {
  width: 11.25rem;
  height: 11.25rem;
}

.product-img-small {
  max-width: 100%;
  border-radius: .25rem;
}

.buy-btn {
  width: 11rem;
  display: inline-block;
  border: 1px solid var(--purple);
  background: transparent;
  border-radius: 4px;
  padding: .5rem;
  font-weight: var(--fw-600);
  color: var(--purple);
}