<link rel="stylesheet" href="../Components/footer/footer.css">
<div id="connect" style="
display: flex;
justify-content: center;
gap: 1rem;
background-color: black;">
  <div style="background: white; border-radius: 50%;"><a href="https://github.com/FullerWeb" target="_blank"><img src="/assets/github-36X36.webp" alt="Fuller D&D Github" width="32" height="32"></a></div>
  <div><a href="www.linkedin.com/in/markfullerheick" target="_blank"><img id="connect-circle-brand" width="32" height="32" src="/assets/linkedin-logo-48X48.webp" alt=""></a></div>
  <div><a href="https://www.upwork.com/fl/~015afcf541f09c773c?mp_source=share" target="_blank"><img id="connect-circle-brand" width="32" height="32" src="/assets/upwork-circle-48X48.webp" alt=""></a></div>
</div>
<div id="plugs">
  <div class="plug" id="plug1">"Mark consistently went above and beyond in his work, demonstrating
    a strong
    work ethic and delivered exceptional results."</div>
  <div class="plug" id="plug2">"Marks's dedication is unparalleled; he tackles
    challenges
    head-on and consistently produces high-quality work, earning our team's respect and admiration."
  </div>
  <div class="plug" id="plug3">"Mark's commitment to excellence is evident in everything he
    does. His
    attention to detail and tireless work ethic made him an invaluable asset to our team."</div>
  <div class="plug" id="plug4">"Mark is a talented writer. He was able to produce a quality piece of writing
    with a quick turnaround. He also responded to our messages quickly."<br>- Soft Batch Standard</div>
  <div class="plug" id="plug5">"Mark is a fast and diligent worker. Very good freelancer and greatly recommended!"
  </div>
  <div class="plug" id="plug6">
    "Mark's performance far exceeded our expectations, and his exemplary work exudes professionalism."<br>
    - Dean Seneca, CEO of Seneca Scientific Solutions+, LLC
  </div>
</div>
<script src="plugs.js"></script>