     footer {
      bottom: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      padding-block: 1rem;
      flex-direction: column;
      background: var(--background);

      & #plugs {
        text-align: center;
      }
    }

    .plug {
      max-width: 60ch;
      height: 5rem;
      display: none;
      font-style: italic;
      text-wrap: balance;
    }

    .visible {
      display: block;
      animation: testimonialAnimation 10s infinite;
    }

    @keyframes testimonialAnimation {

      0%,
      100% {
        opacity: 0;
      }

      10%,
      90% {
        opacity: 1;
      }
    }

    #connect {
      display: flex;
      justify-content: center;
      gap: 1rem;
    }