     footer {
       bottom: 0;
       display: flex;
       justify-content: space-between;
       align-items: center;
       gap: 1rem;
       padding-block: 1rem;
       flex-direction: column;
       background: var(--background);

       & #plugs {
         text-align: center;
       }
     }

     #connect-button {
       background: none;
       color: whitesmoke;
       border: 1px solid var(--warning);
       border-radius: .25rem;
       padding-block: .25rem;
       padding-inline: .5rem;
       cursor: pointer;
     }

     .plug {
       max-width: 60ch;
       height: 5rem;
       display: none;
       font-style: italic;
       text-wrap: balance;
     }

     .visible {
       display: block;
       animation: testimonialAnimation 10s infinite;
     }

     @keyframes testimonialAnimation {

       0%,
       100% {
         opacity: 0;
       }

       10%,
       90% {
         opacity: 1;
       }
     }

     #connect {
       display: flex;
       justify-content: center;
       gap: 1rem;
     }