/* @import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap'); */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  vertical-align: baseline;
  font-family: 'Mulish', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Add your own CSS reset styles here */

img {
  max-width: 100%;
  display: block;
}

* {
  box-sizing: border-box;
}

:root {
  --gap: 5rem;
  --min-block: 17.375rem;
  --marquee-gap: 2rem;
  --marquee-padding: 9.75rem;

  --purple: #5046E5;
  --purple-subtle: #DCDAFA66;
  --yellow: #FFDC64;

  h2 {
    font-size: 1.75rem;
    padding-bottom: 1.5rem;
  }
}

/***** Utility Classes *****/
.app-stores {
  display: flex;
  gap: 1rem;
}

.btn-default {
  width: 12rem;
  padding-inline: 2.875rem;
  padding-block: 1rem;
  border-radius: .5rem;
  border: none;
  background: var(--purple);
  color: white;
  cursor: pointer;
}

.container {
  max-width: 100%;
  padding-inline: 9.75rem;
  margin-block: 6.25rem;
  padding-block: 1.5rem;
}

.cta-container {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-weight: 600;
}

.cta {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.swiper-container {
  width: 100vw;
  overflow: hidden;
}

.view-all {
  font-weight: 600;
  color: var(--purple);
}

.view-all-sm {
  display: none;
}

/***** End Utility Classes *****/

html,
body {
  max-height: 100%;
}

html {
  background: black;
}

body {
  max-width: 90rem;
  margin: 0 auto;
  background: #F9F9FA;
}

header {
  position: fixed;
  max-width: 90rem;
  width: 100%;
  top: 0;
  padding-inline: 9.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #F9F9FF;
  box-shadow: 0px 2px 20px 0px #0000001F;
  height: 4.25rem;
  z-index: 10;

  #left-nav {
    display: flex;
    gap: 5.25rem;

    #nav-brand {
      width: 100%;
      height: auto;
      aspect-ratio: 2.4/1;
    }

    .off-canvas {
      position: absolute;
      left: -9999px;
    }

    #nav-selects {
      display: flex;

      & select {
        border: none;
        outline: none;
        background: transparent;
      }
    }
  }

  .menu-icon {
    display: none;
    /* Initially hidden */
    cursor: pointer;
  }

  #right-nav {
    display: flex;
    gap: 2.25rem;

    & button {
      padding: 6px 26px 6px 26px;
      border: none;
      border-radius: 8px;
      background-color: #5046E5;
      color: #FFFFFF;
      font-size: 12px;
      font-weight: 700;
    }

    & span {
      color: #5046E5;
      font: 14px;

    }
  }
}

.menu {
  margin-top: .5rem;
  border-radius: 0 .25rem;
  border: 1px solid lightgray;
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  top: 0;
  left: -400px;
  /* Initially off screen */
  width: 266px;
  height: 100%;
  background-color: white;
  transition: left 1s ease;
}

#hero {
  margin-top: 4.25rem;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);

  #left-hero {
    flex: 1 1 var(--min-block);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    #hero-heading {
      max-width: 25ch;
      font-weight: 700;

      & span {
        font-size: 1.5rem;
      }

      #phrase-1 {
        font-weight: 700;
        text-wrap: nowrap;
        font-size: 1.5rem;
      }

      #phrase-2 {
        font-size: 1.5rem;
        text-wrap: wrap;
      }

      .letter-boxed {
        margin-top: rem;
        /* Adjust padding as needed */
        padding-bottom: .6rem;
        /* Adjust padding as needed */
        background-image: linear-gradient(to bottom, #F9F9FA 0%, #A8A3F299 90%);
        ;

        /* Background color of the letter-boxed area */
        font-size: 1.5rem;
        /* Adjust line height to match the height of the letter */
        line-height: .25rem;
        display: inline-block;
        /* Ensure the span takes the height of its content */
      }
    }

    .cta-container {
      padding-top: 1.125rem;
      padding-bottom: 2rem;
    }
  }

  & h1 {
    font-size: 2.25rem;
  }



  #right-hero {
    flex: 1 1 var(--min-block);

    & img {
      width: 100%;
      height: auto;
      aspect-ratio: 1.29/1;
    }
  }
}

.marquee-wrapper {
  width: 100%;
  background: #5046E51A;

  #marquee-container {
    margin-top: 4rem;
    display: flex;
    overflow: hidden;
    height: 14rem;
    gap: var(--marquee-gap);
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
    /* Add position relative */

    /* Adjust positioning to create the desired visible area */
    left: var(--marquee-padding);
    /* Adjust as per your requirement */
    width: calc(100% - (2*var(--marquee-padding)));
    /* Adjust as per your requirement */
  }

  .marquee-group {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: var(--marquee-gap);
    min-width: 100%;
    animation: scroll 22s linear infinite;
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - var(--marquee-gap)));
  }
}

#work-details {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);

  #left-work-details {
    flex: 1 1 var(--min-block);

    & p {
      font-weight: 400;
    }

    & img {
      width: 100%;
      height: auto;
      aspect-ratio: 1.24/1;
    }
  }

  #right-work-details {
    flex: 1 1 var(--min-block);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3.5rem;

    & p {
      padding-top: 1.5rem;
      padding-bottom: 3.5rem;
    }
  }
}

#dl-mobile {
  padding: inline 9.75rem;

  & img {
    width: 100%;
    height: auto;
    aspect-ratio: 3.96/1;
  }
}

#hire-candidates {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  background-color: var(--purple-subtle);

  & .btn-default {
    margin-top: 2rem;
  }

  #left-hire-candidates {
    flex: 1 1 var(--min-block);
    display: flex;
    flex-direction: column;
    justify-content: start;

    .features-content {
      & p {
        padding-bottom: 2.125rem;
      }
    }
  }


  #right-hire-candidates {
    flex: 1 1 var(--min-block);

    & img {
      width: 100%;
      height: auto;
      aspect-ratio: 1.42/1;
    }

  }
}

#profiles {
  display: flex;
  flex-direction: column;
  gap: 4.375rem;

  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  #profile-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.5rem;

    .profile-card {
      flex: 1 1 fit-content(16.5rem);
      height: 24rem;
      box-shadow: 0px 15px 60px 0px #00000014;
      border-radius: .875rem;
      background-color: white;


      .profile-img-wrapper {
        position: relative;

        .badge {
          position: absolute;
          bottom: 1rem;
          right: 1rem;
          border-radius: .75rem;
          padding-inline: .5rem;
          background: #F4F4F4;
          ;
        }
      }

      .profile-card-body {
        padding: 1rem;
      }
    }

    .card-body {
      display: flex;
      flex-direction: column;
    }
  }
}

.profiles-swiper-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4.375rem;

  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .profiles-wrapper {
    .profile-wrapper {
      display: flex;
      justify-content: center;
      text-align: center;
      height: 24rem;

      .profile-card {
        background-color: white;
        border-radius: .875rem;

        .profile-img-wrapper {
          width: 16.5rem;
          position: relative;
          bottom: 0;
          display: flex;
          justify-content: center;

          .badge {
            position: absolute;
            bottom: 1rem;
            right: 1rem;
            border-radius: .75rem;
            padding-inline: .5rem;
            background-color: #F4F4F4;
          }
        }

        .profile-card-body {
          padding-top: 1rem;

          & h3 {
            margin: 0;
          }
        }
      }
    }

  }
}

#big-cta {
  width: 100%;
  height: 16.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.25rem;
  background: var(--yellow);

  & p {
    text-align: center;
    font-weight: 700;
    font-size: 1.75rem;
  }

  & button {
    padding: .75rem;
    padding-inline: 2.875rem;
    border: none;
    border-radius: .625rem;
    background: var(--purple);
    color: white;
  }
}

/***** Events Swiper Styles *****/

#events {
  display: flex;
  flex-direction: column;
  gap: 4.375rem;
  background: var(--purple-subtle);

  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.events-swiper-container {
  display: flex;
  flex-direction: column;
  gap: 4.375rem;

  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

#events-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/***** End Events Swiper Styles *****/

.event-card {
  margin: 0 auto;
  flex: 1 1 fit-content(16.5rem);
  max-width: 16.5rem;
  height: 21rem;
  box-shadow: 0px 15px 60px 0px #00000014;
  border-radius: .875rem;


  .event-card-body {
    padding-inline: 1rem;
    padding: 1rem;

    & h3 {
      padding-bottom: 1rem;
    }
  }
}

/***** Talks Swiper *****/
.talks-swiper-container {
  .section-header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-wrap: balance;
    gap: 1.5rem;

    .view-all {
      padding-top: 1.5rem;
    }
  }
}

.talks-wrapper {
  height: 21rem;
  text-align: start;
}

#talks {
  display: flex;
  flex-direction: column;
  gap: 4.375rem;

  .section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .view-all {
      color: var(--purple);
    }
  }
}

#talks-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.talk-card {
  margin: 0 auto;
  flex: 1 1 fit-content(16.5rem);
  max-width: 16.5rem;
  height: 19rem;
  border-radius: .875rem;
  border: 0.5px solid #848484;
  box-shadow: 0px 15px 60px 0px #00000014;


  .talk-card-body {
    padding-inline: 1rem;
    padding-top: 3.5rem;

    & p {
      padding-top: 1.25rem;
      font-weight: 700;
    }
  }
}

/***** End Talks Swiper *****/

footer {
  bottom: 0;
  padding-block: 2.5rem;
  padding-inline: 9.75rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  background: #F6F6F6;

  #footer-top {
    padding-bottom: 7.25rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;

    #footer-left {
      flex: 2 2 17.5rem;
      display: flex;
      justify-content: space-between;
      gap: 4.875rem;

      & h2 {
        padding-bottom: 1rem;
      }

      #explore {
        & h3 {
          font-size: 1.125rem;
        }

        & ul {
          list-style: none;

          & a {
            text-decoration: none;
            color: #353535;
            font-size: 1rem;
          }
        }
      }

      #support {
        & h3 {
          font-size: 1.125rem;
        }

        & ul {
          list-style: none;

          & a {
            text-decoration: none;
            color: #353535;
            font-size: 1rem;
          }
        }
      }
    }

    #footer-right {
      flex: 1 1 17.5rem;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 5.125rem;

      & h3 {
        font-size: 1.125rem;
      }

      #follow-us {
        #socials {
          padding-top: 1.5rem;
          display: flex;
          gap: 2.25rem;
          align-items: center;
        }
      }
    }
  }

  #footer-bottom {
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid #5E5E5E;

    #footer-bottom-left {
      flex: 1 1 17.5rem;

      & p {
        width: 100%;
        font-size: 14px;
        padding-bottom: .5rem;
      }
    }

    #footer-bottom-right-lg {
      flex: 1 1 17.5rem;
      display: flex;
      justify-content: space-between;
    }

    #footer-bottom-right-lg * {
      flex: 1 1 0;
      text-align: center;
      font-size: 12px;
    }

    #footer-bottom-right-sm {
      display: none;
    }
  }
}

@media screen and (min-width:768px) {

  #talks {
    .section-header {
      .view-all {
        display: none;
      }
    }
  }


  /***** Swipers Visbility*****/
  .profiles-swiper-container {
    display: none;
  }

  .events-swiper-container {
    display: none;
  }

  .talks-swiper-container {
    display: none;
  }

  /***** End Swipers Visbility*****/

}

@media screen and (max-width: 768px) {

  :root {
    --marquee-gap: 2rem;
    --marquee-padding: 1rem;
  }

  /***** Utility Classes *****/

  .container {
    width: 100%;
    padding-inline: 1rem;
  }

  header {
    padding-inline: 1rem;

    #left-nav {
      #nav-selects {
        display: none;
      }
    }

    .menu-icon {
      display: block;
      font-size: 1.5rem;
    }

    #right-nav {
      display: none;
    }
  }

  .menu.active {
    left: 0;
    /* Slide menu into view */
  }

  .menu {
    z-index: 1000;
    padding: 2rem;

    & button {
      width: 7.5rem;
      height: 2rem;
      border-radius: .5rem;
      border: none;
      background: var(--purple);
      color: white;
      font-size: .75rem;
    }

    & span {
      color: var(--purple);
    }

    #top-menu,
    #bottom-menu {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    #top-menu select {
      padding-block: .5rem;
      outline: none;
      border: none;
      width: max-content;
      background: transparent;
    }
  }

  #dl-mobile {
    padding-inline: 1rem;
    padding-block: 1.5rem;
  }

  .view-all-lg {
    display: none;
    font-weight: 600;
  }

  .view-all-sm {
    display: block;
    width: 100%;
    text-align: center;
  }

  .big-cta {
    text-align: center;
  }

  /***** End Utility Classes *****/
  #profiles {
    display: none;
  }

  #events {
    display: none;
  }

  #talks {
    display: none;
  }

  .talks-swiper-container {
    .section-header {
      padding-bottom: 2rem;
    }
  }

  footer {
    padding-inline: 1rem;
    font-size: .75rem;

    #footer-top {

      #footer-left {
        display: flex;
        gap: 4.875rem;

        & h2 {
          padding-bottom: 1rem;
        }

        #explore {
          & h3 {
            font-size: 1.125rem;
          }

          & ul {
            list-style: none;

            & a {
              text-decoration: none;
              color: #353535;
              font-size: 1rem;
            }
          }
        }

        #support {
          & h3 {
            font-size: 1.125rem;
          }

          & ul {
            list-style: none;

            & a {
              text-decoration: none;
              color: #353535;
              font-size: 1rem;
            }
          }
        }
      }

      #footer-right {
        display: flex;
        flex-direction: column;
        gap: 3rem;

        & h3 {
          font-size: 1.125rem;
        }

        #follow-us {
          #socials {
            padding-top: 1.5rem;
            display: flex;
            align-items: center;
            gap: 1.25rem;
          }
        }
      }
    }

    #footer-bottom {
      margin-block: 2rem;
      border-top: 1px solid #5E5E5E;
      display: flex;
      justify-content: space-between;

      #footer-bottom-left {
        & p {
          font-size: .72rem;
          text-align: center;
        }
      }

      #footer-bottom-right-lg {
        display: none;
      }

      #footer-bottom-right-sm {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 1.25rem;

        & span {
          text-align: center;
          flex: 1 1 0;
          font-size: .72rem;
        }
      }
    }
  }

}